TOKEN=
CLIENT_ID=
GUILD_ID=
STAFF_ROLE_ID=
ACCEPTED_ROLE_ID=
DECLINED_ROLE_ID=
APPLICATION_CHANNEL_ID=
SUPPORT_CHANNEL_ID=
LOG_CHANNEL_ID=
SUPPORT_LOG_CHANNEL_ID=
AUTO_THREAD_CHANNELS=
BACKEND_INTERNAL_URL=http://backend:8000
INTERNAL_API_KEY=
WINGS_URL=
WINGS_TOKEN=
VELOCITY_UUID=
STAFF_CHANNEL_ID=
STAFF_BANNER_URL=

