DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://gryazworld.ru/cabinet
PLUGIN_SECRET=
DATABASE_URL=sqlite+aiosqlite:///./serverpanel.db
MC_SERVER_HOST=play.gryazworld.ru
MC_SERVER_PORT=25565
